<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Andi Restaurant | MFWDE" />
    <link rel="apple-touch-icon" href="/src/public/favicon.png" />
    <title>Andi Restaurant | MFWDE</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Unica+One&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
  />
  <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>

<body id="home">
    <!-- skiplink -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <!-- nav Bar -->
    <nav-bar></nav-bar>

    <!-- Hero Element -->
    <hero-element></hero-element>

    <!-- Main Content -->
    <main tabindex="0" id="main-content" class="main-content__container"></main>

    <!-- Footer -->
    <footer-custom></footer-custom>
</body>

</html>