<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <meta name="keywords" content="Andi Restaurant | MFWDE" />
    <link rel="apple-touch-icon" href="/src/public/favicon.png" />
    <title>Andi Restaurant | MFWDE</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Unica+One&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
  />
</head>

<body id="home">
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <!-- App Bar -->
    <header class="header">
        <a href="/">
            <h1 class="nav_logo">Andi Restaurant</h1>
        </a>
        <button class="menu" id="menu" aria-label="button menu dropdown on mobile">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="https://blog-triandi.me/" target="_blank" rel="noopener">About
                        Us</a></li>
                <li class="nav_item">
                    <button
                    tabindex="0"
                    aria-label="button for toggle light or dark mode"
                    type="button"
                    id="dark-mode"
                    class="light"
                  >
                    <i class="fas fa-moon"></i>
                  </button>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero Element -->
    <div class="hero">
        <div tabindex="0" class="hero_inner">
            <h1 class="hero_title">Welcome To <span class="hero_bold">Andi Restaurant</h1>
            <p class="hero_tagline">Our restaurant not only serves delicious food but also serves refreshing drinks!</p>
            <a href="#main-content" class="hero_button">Read More</a>
        </div>
    </div>

    <!-- Main Content -->
    <main id="main-content" class="main-content__container">
        <h2 tabindex="0" class="explore-restaurant__label">List Restaurant</h2>
        <section id="explore-restaurant-list"></section>
    </main>

    <footer tabindex="0">
        <ul>
          <li>
            Copyright © 2022 - Andi Restaurant
          </li>
          <li>
            Submission 1 with <i title="love" class="fa fa-heart"></i> by
            Andi
          </li>
        </ul>
      </footer>
</body>

</html>